@font-face {
    font-family:"kzdecor";
    src: url("kazak-fonts/kazak19.otf") format("truetype");
    font-weight:  normal;
    font-style: normal;
}


@font-face {
    font-family:"kzklementina";
    src: url("kazak-fonts/kazak19.otf") format("opentype");
    font-weight:  normal;
    font-style: normal;
}

@font-face {
    font-family:"lora";
    src: url("kazak-fonts/Lora.ttf") format("truetype");
    font-weight:  normal;
    font-style: normal;
}

@font-face {
    font-family:"alice";
    src: url("kazak-fonts/kazak12.ttf") format("truetype");
    font-weight:  normal;
    font-style: normal;
}

@font-face {
    font-family:"kzromulc";
    src: url("kazak-fonts/kazak6.otf") format("opentype");
    font-weight:  normal;
    font-style: normal;
}

@font-face {
    font-family:"kzmoumenta";
    src: url("kazak-fonts/kazak9.ttf") format("truetype");
    font-weight:  normal;
    font-style: normal;
}

@font-face {
    font-family:"bello";
    src: url("kazak-fonts/kazak7.ttf") format("truetype");
    font-weight:  normal;
    font-style: normal;
}

@font-face {
    font-family:"ITC";
    src: url("kazak-fonts/kazak8.otf") format("opentype");
    font-weight:  normal;
    font-style: normal;
}

@font-face {
    font-family:"sanasoft";
    src: url("kazak-fonts/kazak3.ttf") format("truetype");
    font-weight:  normal;
    font-style: normal;
}

@font-face {
    font-family:"kzdusha";
    src: url("kazak-fonts/kazak14.ttf") format("truetype");
    font-weight:  normal;
    font-style: normal;
}

@font-face {
    font-family:"ryknyq";
    src: url("kazak-fonts/kazak17.ttf") format("truetype");
    font-weight:  normal;
    font-style: normal;
}

@font-face {
    font-family:"kzbook";
    src: url("kazak-fonts/kazak8.otf") format("opentype");
    font-weight:  normal;
    font-style: normal;
}

/*     opentype    truetype    */



/* Шрифты */
.kzbook {
    font-family: "kzbook";
}

.ryknyq {
    font-family: "ryknyq";
}

.kzromulc {
    font-family: "kzromulc";
}

.kzdecor {
    font-family: "kzdecor";
}

.lora {
    font-family: "lora";
}

.lorai {
    font-family: "Lora-italic";
}

.kzmoumenta {
    font-family: "kzmoumenta";
}

.alice {
    font-family: "alice";
}

.bello {
    font-family: "bello";
}

.ITC {
    font-family: "ITC";
}

.kzklementina {
    font-family: "kzklementina";
}

.sanasoft {
    font-family: "sanasoft";
}

.kzdusha {
    font-family: kzdusha;
}






header img {
    width: 55px;
    height: 55px;
    border-radius: 8px;
    border: 0.1px rgb(139, 139, 139) solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

#langSwitcher {
    padding: 8px;
    border: none;
    
    font-weight: 400;
    font-size: 14px;
    background-color: white;
}

.a {
    background-color: white;
    border: 0.1px rgb(139, 139, 139) solid;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    display:flex;
    align-items: center;
    justify-content: center;
    
}



.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pere img:active {
    border: 2px solid #FF6E4E;
   

}

.pere img {
    cursor: pointer;
    transition: transform 0.2s;
}

.pere img:hover {
    transform: scale(1.1);
    border: 2px solid #FF6E4E;
}

.pere img:focus {
    border: 2px solid #FF6E4E;
}

.pere img:focus-visible {
    border: 2px solid #FF6E4E;
}

.pere img:focus-within {
    border: 2px solid #FF6E4E;
}

.pere img:visited {
    border: 2px solid #FF6E4E;
}

.pere img:target {
    border: 2px solid #FF6E4E;
}

.pere img:checked {
    border: 2px solid #FF6E4E;
}

.pere img:selected {
    border: 2px solid #FF6E4E;
}

.pere img:active {
    border: 2px solid #FF6E4E;
}

.page {
      display: none; /* әдетте барлық бет жасырын */
    }
.active {
      display: block; /* белсенді бет қана көрінеді */
    }

.harac {
    font-size: 14px;
    font-weight: 400;
    color: rgb(105, 105, 105);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.harac1 {
    font-size: 14px;
    font-weight: 400;
    color: rgb(105, 105, 105);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 20px;
}


.cont-paket {
    display: flex; 
    justify-content: center;
    align-items: center; 
    gap: 10px;
    padding-bottom: 20px;
    
}

.pacet {
      
      border-radius: 5px;
      
      display: flex;
      align-items: center;
      justify-content: center;
      
      
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
.pacet.active {

      transform: translateY(-10px);
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.485);
      background: #2ecc71; /* түсін де өзгертеміз */
    }
    

.pacet-page {
    display: none;
}

.pacet-page.active {
      display: block;
    }


.paketter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}  

.cont-comment {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    padding-bottom: 20px;
    padding: 10px;
    
    
}

.comment {
    font-size: 14px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 20px;
    flex-direction: column;
    border-radius: 10px;
   
    background-color: #f5f5f5;
}

.name {
    font-size: 16px;
    font-weight: 700;
    color: rgb(17, 17, 17);
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 20px;
    align-items: center;    
}

.zvezd {
    color: #FFD700; /* Алтын түсі */
    font-size: 28px;
    

}

ion-icon {
    margin-right: -10px;
}

.logo-personal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    
}

.logo-person {
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.1px rgb(139, 139, 139) solid;

}